#footer{
    width: 100%;
    height: 40vh;
    background-color: #000022;
}

#footer-container{
    width: 60%;
    margin: 30px auto;
}

#footer-content{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#footer-logo{
    width: 30%;
    height: 30%;
}

/* .footer-social-buttons{
    display: flex;
    flex-direction: column;
} */

.footer-icons{
    color:#DAFFED;
    transition: 0.15s ease-in-out;
    margin-right: 10px;
    text-decoration: none;
}

.footer-icons:hover{
    color:#FCE575;
    transform: scale(1.0);
    /* font-size: inherit; */
}

/* .footer-contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
} */

