#footer{
    width: 100%;
    height: 300px;
    background-color: #000022;
}

#footer-container{
    width: 60%;
    margin: 30px auto;
}

#footer-content{
    display: flex !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#footer-logo{
    width: 30%;
    height: 30%;
}

.footer-social-buttons{
    width: 150px;
}

.footer-icons{
    color:#DAFFED;
    transition: 0.5s all;
    margin-right: 10px;
    text-decoration: none;
    width: 50px;
}

.footer-icons:hover{
    color:#FCE575;
    transform: scale(1.0);
    /* background-color: #DAFFED;
    width: 160px;
    height: auto;
    border-radius: 6px; */
    /* font-size: inherit; */
}

.footer-icons:active{
    color:#FFD447;
}

/* .footer-contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
} */

