/* divider linear gradients
background: linear-gradient(#A4036F, #A4036F);
background: linear-gradient(#A4036F, #8A1381);
background: linear-gradient(#8A1381, #7F1A89);
background: linear-gradient(#7F1A89, #74208F);
background: linear-gradient(#74208F, #662899);
background: linear-gradient(#662899, #5D2E9F);
background: linear-gradient(#5D2E9F, #5234A6);
background: linear-gradient(#5234A6, #493AAC);
background: linear-gradient(#493AAC, #403FB2);
background: linear-gradient(#403FB2, #3943B7); */


.fireworks{
    max-width: 100%;
}

#divider{
    transform: skew(0deg, -3deg) translateX(-100vw);
    /* background: linear-gradient(#A4036F 10%, 40%, #3943B7 100%); */
    width: 100%;
    height: 40vh;
    /* max-width: 100vw; */
    /* animation-name: extend;
    animation-duration: 10s; */
}

.divider-el{
    position: relative;
    width: 100%;
    height: 10%;
    /* opacity: 0; */
}

#el1{
    background: linear-gradient(#A4036F, #A4036F);
}
#el2{
    background: linear-gradient(#A4036F, #8A1381);
    top: -1px;
}
#el3{
    background: linear-gradient(#8A1381, #7F1A89);
    top: -2px;
}
#el4{
    background: linear-gradient(#7F1A89, #74208F);
    top: -3px;
}
#el5{
    background: linear-gradient(#74208F, #662899);
    top: -4px;
}
#el6{
    background: linear-gradient(#662899, #5D2E9F);
    top: -5px;
}
#el7{
    background: linear-gradient(#5D2E9F, #5234A6);
    top: -6px;
}
#el8{
    background: linear-gradient(#5234A6, #493AAC);
    top: -7px;
}
#el9{
    background: linear-gradient(#493AAC, #403FB2);
    top: -8px;
}
#el10{
    background: linear-gradient(#403FB2, #3943B7);
    top: -9px;
}

#footer{
    width: 100%;
    height: 320px;
    background-color: #000022;
    /* position: fixed; */
    bottom: 0;
    z-index: -2;

    align-items: center;
}

#footer-container{
    width: 60%;
    margin: 30px auto;
    padding-bottom: 25px;
}

#footer-content{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#footer-logo{
    width: 15%;
    height: auto;
}

.footer-social-buttons{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
}


.footer-social-buttons > a{
    transition: 0.1s ease-in-out;
}


.footer-social-buttons > a:hover {
    transform: translateY(-2px);
}

.footer-icons{
    color:#DAFFED;
    transition: 0.5s all;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}

.footer-icons:hover{
    color:#FCE575;
    transform: scale(1.0);
    text-shadow: 0 2px 4px rgba(245, 227, 140, 0.2);
    /* background-color: #DAFFED;
    width: 160px;
    height: auto;
    border-radius: 6px; */
    /* font-size: inherit; */
}

.footer-icons:active{
    color:#FFD447;
}

#footer-text{
    color:rgb(220, 250, 236);
}

#footer-tags{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .footer-contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
} */

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    color: #000022;
    background-color: rgba(252, 229, 117, 0.7);

}


/* @keyframes extend {
    0% {
        width: 0%;
    }
    70% {
        width: 50%;
    }
    100%{
        width: 100%;
    }
  } */