.container {
  width: 80%;
  margin: auto;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}

img{
    max-width: 100%;
}

.hidden{
  display: none !important;
}

/* Media Queries */

@media only screen and (max-width: 1440px){
  
  #featured-title {
    margin-right: 0px;
    margin-bottom: 5px;
    writing-mode: horizontal-tb;
    width: 100%;
    transform: rotate(0);
    text-align: center;
    font-size: 2.5em;
    padding: 10px 0 10px 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    margin-top: 50%;
  }
  #sajeel {
    width: 80%;
  }
  .social-buttons {
    width: 60%;
  }
  .about-me-body {
    width: 80%;
  }
  .about-me-text{
    text-align: left;

  }
  #footer-logo {
    width: 30%;
  }
}

@media only screen and (max-width: 430px) {
  .title {
    margin-top: 60%;
  }
  #sajeel {
    width: 90%;
  }
  #loading {
    margin-top: 80px;
  }
  .social-buttons {
    width: 31%;
    flex-wrap: wrap;
  }
  .bio {
    font-size: 1.2em;
    line-height: 2em;
    margin-right: 20%;
  }
  .about-me-body {
    width: 90%;
  }
  .about-me-text {
    font-size: 1.1em;
  }
  .title h1 {
    font-size: 60px;
  }
  #footer-logo {
    width: 45%;
  }
  #copyright p {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 376px) {
  .title {
    margin-top: 60%;
  }
  #sajeel {
    width: 95%;
  }
  #loading {
    margin-top: 40px;
  }
  .social-buttons {
    margin-top: 10px;
    width: 34%;
    flex-wrap: wrap;
  }

  .title h1 {
    font-size: 54px;
  }
}
